@import 'typography';
@import 'mixins';










div.swal2-modal {
  background-color: var(--color2);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  box-shadow: 0 0 12px 0 rgb(82, 68, 231);
}

.modal-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 0;
  color: var(--color3);
  background: #111;
}

.modal-img-container {
  background-color: black;
  padding: 0;
}

.modal-header {
  font-size: 30px;
}

.modal-detail-container {
  font-size: 14px;
  line-height: 1.5;
}

.comment-header {
  margin-bottom: 10px;
}

.comments-list {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 10px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  margin: auto;
}

.name-input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background-color: white;
  border-radius: 3px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.textarea-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: white;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}

div.swal2-actions {
  display: none !important;
}

.swal2-close:focus {
  box-shadow: none !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  @include font-b;

  background-color: rgb(91, 90, 90);
}

header {
  @include flex-row;

  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 50px auto;
  background-color: $black;
  padding: 30px;
  height: 50px;
  position: relative;

  .header-brand {
    @include font-h;

    text-decoration: none;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 110px;
  }

  .navbar__menu-button {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    i {
      font-size: 1.5rem;
      color: $base;
      transition: color ease-out 250ms;

      &:hover {
        color: $accent;
      }
    }

    @include mq($mw: 600px) {
      display: none;
    }
  }

  .header-nav {
    display: none;

    ul {
      list-style: none;
      gap: 20px;

      @include flex-colum;

      li {
        color: #fff;

        a {
          text-decoration: none;
          border: 1px solid transparent;
          padding: 1px;

          &:hover {
            border-color: $accent;
            color: $accent;
          }

          @include font-h($fw: 600);
        }
      }
    }

    @include mq($mw: 600px) {
      display: flex;

      ul {
        @include flex-row;
      }
    }
  }
}

.movie-sec,
.bluRay-sec {
  @include flex-row;

  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  gap: 30px 3%;
  justify-content: center;
  align-items: flex-end;

  .movie-wrapper {
    @include flex-colum;

    align-items: center;
    gap: 5px;
    background-color: #111;

    .movie-wrapper__img {
      width: 250px;
    }

    .movie-wrapper__title {
      @include flex-row;

      justify-content: space-between;
      align-items: center;
      gap: 5px;
      width: 240px;
      height: 48px;
      line-height: 1.2;
      color: #fff;

      .movie-wrapper__likes {
        @include flex-colum;

        align-items: center;
        width: 55px;
        gap: 3px;
        margin-left: 1rem;

        i {
          color: $accent;
          cursor: pointer;

          &:hover {
            color: #fd3f3f;
            transform: scale(1.2);
          }

          &:active {
            color: $red;
            text-shadow: 0 0 7px $red;
          }
        }

        span {
          font-size: 0.75rem;
        }
      }
    }

    .movie-wrapper__comment-button {
      width: 240px;
      border: none;
      outline: 1px solid $accent;
      background-color: transparent;
      color: $accent;
      padding: 0.25rem 0;
      cursor: pointer;
      transition: background-color ease-out 250ms;
      margin-bottom: 5px;

      &:hover {
        background-color: $accent;
        color: white;
      }

      &:active {
        box-shadow: inset 0 0 5px;
      }
    }
  }
}

footer {
  @include flex-row;

  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 50px auto 10px;
  background-color: $black;
  padding: 30px;
  height: 50px;

  @include font-b($fw: 400);
}

.toggle {
  display: none;
}

.active {
  font-style: italic;
  font-weight: 900;
  padding: 2px;
}

.about-sec {
  .about-section__container {
    border: 5px solid white;
    width: 90%;
    max-width: 700px;
    min-height: 65vh;
    padding: 50px;
    margin: auto;
    text-align: center;

    h2 {
      margin: auto auto 80px;

      @include font-h($fs: 4rem, $fw: bold, $lh: 1);

      color: $accent;
      background-color: white;
      border: 1px solid;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.7;
      color: white;
    }
  }
}

/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --hue: 240;
  --first-color: hsl(var(--hue), 16%, 18%);
  --first-color-alt: hsl(var(--hue), 16%, 12%);
  --title-color: hsl(var(--hue), 8%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 1.5rem;
  --normal-font-size: .938rem;

  /*========== z index ==========*/
  --z-modal: 1000;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 1.75rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  position: relative;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}





/*# sourceMappingURL=styles.css.map */